.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__content_position {
  position: relative;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 228px;
  height: 32px;
}

.header__logo_position {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title_position {
  z-index: 2;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__subtitle {
  width: 388px;
}

.header_subtitle_position {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
}

.header__link:visited {
  color: #2f80ed;
}

.header__link::after {
  content: " \27F6";
  position: relative;
  bottom: 2px;
}

.header__background {
  width: 765px;
  height: 608px;
}

.header__background_position {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic_position {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}


/* section description */

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.description__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.description__headline {
  color: #2f80ed;
  width: 175px;
  margin: 0;
}



.discription__text-box {
  width: 80%;
}

.description__text-box_position {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.margin_0 {
  margin: 0;
}

/* section Digits */
.section_position {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title-block {
  text-align: center;
}

.margin-top_20 {
  margin-top: 20px;
}


.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__txt_position {
  margin-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

/* section feyman */
.feynman {
  margin-top: 100px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px;
  height: 890px;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}


/* надо разбить этот стиль на шрифт и модификаторы !!!*/
.feyman__title {
  max-width: 648px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.feyman__title_font {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feyman_subtitle {
  text-align: center;
  margin-top: 70px;
}


.feyman_link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feyman_link::after {
  content: " \27F6";
  position: relative;
  bottom: 2px;
}

/* section kaufman */

.section__title_theme_dark {
  color: white;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
  margin-top: 0;
}


.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}


.kaufman__background-img {
  width: 877px;
  height: 877px;
}

.kaufman__background-img_position {
  position: absolute;
  top: -0;
  right: -210px;
  z-index: 0;
}

/* section footer */
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  height: 350px;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

.footer__left-column {
  margin-right: 711px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 228px;
  height: 32px;
}

.footer__author_position {
  margin-top: auto;
  margin-bottom: 18px;
}

.footer__middle-column {
  display: flex;
  flex-direction: column;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links_position {
  margin-top: 20px;
}



.footer__link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}


.footer__right-column .footer__links .footer__link {
  font-weight: normal;
}

.footer__heading {
  line-height: 30px;
  font-style: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

/* FONTS MULTIUSE */
.header__title {
  font-size: 102px;
  font-weight: 600px;
  line-height: 96px;
  width: 730px;
}

.section_subtitle_font {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.section__font_normal {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.subtitle_font {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
}

.text-style_bold {
  font-weight: 600;
}


.section__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}